.list-empty {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-empty .message {
    color: rgba(2, 1, 71, 1);
    font-size: 40px;
    font-weight: 900;
    transition: all 1.7s ease-in-out;
    animation-name: showmessage;
    animation-iteration-count: 1;
    animation-duration: 1.2s;
    margin: 30px;
}

@media screen and (max-width:450px) {
    .list-empty .message {
        font-size: 30px;
    }
}

@media screen and (max-width:400px) {
    .list-empty .message {
        font-size: 20px;
    }
}

@keyframes showmessage {
    0% {
        transform: translateX(-90rem)
    }

    100% {
        transform: translateX(0rem);
    }
}