.pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;

    .pagination-flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        font-weight: 800;

        .disable {
            background-color: rgb(177, 177, 177);
            border: none;
            font-weight: 800;
            padding: 4px 20px;
            border-radius: 10px;
            color: white;
        }

        .prev-buttom {
            border: none;
            color: white;
            font-weight: 800;
            padding: 4px 20px;
            border-radius: 10px;
            transition: all .1s ease-in-out;
            background: linear-gradient(135deg, blue 100%, greenyellow);

            &:hover {
                background: linear-gradient(90deg, blue 1%, greenyellow);
            }

            &:active {
                transform: scale(105%);
            }
        }

        .next-buttom {
            border: none;
            color: black;
            font-weight: 800;
            padding: 4px 20px;
            border-radius: 10px;
            transition: all .1s ease-in-out;
            background: linear-gradient(135deg, greenyellow 100%, blue);

            &:hover {
                background: linear-gradient(90deg, greenyellow 25%, blue);
            }

            &:active {
                transform: scale(105%);
            }
        }
    }
}