.content-sales {
    display: flex;
    align-items: center;
    justify-content: center;

    table {
        width: 100%;
        max-width: 70rem;
        text-align: center;
        margin: 0 20px;
        overflow: hidden;
        border-radius: 10px;

        thead {
            background: midnightblue;
            border-bottom: 4.5px solid greenyellow;
            color: white;

            th {
                padding: 7px 0;
                font-weight: 800;
            }
        }

        tbody {
            font-weight: 800;
            font-size: 13px;

            tr {
                td {
                    padding: 13px 0;

                    button {
                        border: none;
                        font-size: 11.5px;
                        background-color: midnightblue;
                        font-weight: 900;
                        color: white;
                        padding: 2px 5px;
                        border-radius: 4px;
                        transition: all 0.05s ease-in-out;

                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }

                .price {
                    color: green
                }

                .state {
                    color: blue;
                }
            }
        }
    }
}

@media only screen and (max-width:620px) {
    .content-sales {
        table {
            thead {
                font-size: 14px;

                th {
                    padding: 5px 0;
                    font-weight: 800;
                }

                .none {
                    display: none;
                }
            }

            tbody {

                .none {
                    display: none;
                }

                tr {
                    td {
                        button {
                            font-size: 11px;
                            padding: 2px 3px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:390px) {
    .content-sales {
        table {
            thead {
                font-size: 9px;

                th {
                    padding: 3px 0;
                    font-weight: 800;
                }

                .none {
                    display: none;
                }
            }

            tbody {
                font-size: 8px;

                .none {
                    display: none;
                }

                tr {
                    td {
                        button {
                            font-size: 8px;
                            padding: 2px 3px;
                        }
                    }
                }
            }
        }
    }
}