::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb {
  background: greenyellow;
  border-radius: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.3rem;
  margin: 10px 15px;
}

.target {
  width: 100%;
  max-width: 226px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 11px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
}

.target:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(105%);
}

@keyframes loadtarget {
  0% {
    transform: scale(0%);
  }

  100% {
    transform: scale(100%);
  }
}

@media only screen and (max-width:600px) {
  .target {
    max-width: 800px;
    margin: 5px 77px;
  }

  .result-search {
    text-align: center;
  }
}

@media only screen and (max-width:480px) {
  .target {
    max-width: 800px;
    margin: 0 60px;
  }

  .target:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(100%);
  }
}

.target .head-target img {
  width: 100%;
  height: 100%;
  padding: 12px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.target .body-target {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.target .body-target .product-name {
  font-size: 13.5px;
  font-weight: 800;
}

.target .body-target .content-product-price {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.target .body-target .content-product-price .product-price {
  font-size: 12.5px;
  font-weight: 900;
  color: green;
  margin: 0 6px;
}

.target .body-target .content-product-price .product-price-none {
  font-size: 12.5px;
  font-weight: 900;
  color: gray;
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2.35px;
  margin: 0 6px;
}

.target .body-target .content-product-price .price-discount {
  font-size: 12.5px;
  font-weight: 900;
  color: green;
  margin: 0 6px;
}

.target .product-discount {
  font-size: 12.5px;
  font-weight: 800;
  background: red;
  padding: 3px 8px;
  color: white;
  margin: 0 6px;
  border-radius: 5px;
}

/*Loading*/
.loading-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
}


.loading-container .loading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.loading-container .loading img {
  width: 110px;
  height: 110px;
  text-align: center;
}

.loading-container .loading label {
  margin-top: -15px;
  font-size: 27px;
  font-weight: 900;
  color: blue;
}

/*Result search*/
.result-search {
  font-weight: 900;
  font-size: 20px;
  margin: 10px 35px;
}

.result-search .query {
  margin-right: 6px;
}

.result-search .result {
  color: blue
}

/*Categories*/
.targe-categorie {
  width: 100%;
  height: auto;
  max-width: 310px;
  background: rgba(237, 237, 237, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  animation-name: showcategorie;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.targe-categorie:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(105%);
}

@media only screen and (max-width:600px) {
  .targe-categorie {
    max-width: 600px;
  }
}

@media only screen and (max-width:480px) {

  .targe-categorie {
    max-width: 300px;
    margin: 5px 5px;
  }

  .targe-categorie:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(100%);
  }
}

@keyframes showcategorie {
  0% {
    opacity: 0%;
    transform: translateY(5%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.targe-categorie .head img {
  width: 120px;
  height: 100px;
  padding: 5px 15px;
}

.targe-categorie .body {
  display: flex;
  flex-direction: column;
}

.targe-categorie .body label {
  font-weight: 900;
}

.targe-categorie .body a {
  font-weight: 900;
  color: blue;
  text-decoration: none;
}

@media only screen and (max-width:280px) {
  .targe-categorie .head img {
    width: 105px;
    height: 85px;
  }

  .targe-categorie .body label {
    font-size: 15px;
  }

  .targe-categorie .body a {
    font-size: 15px;
  }
}

.title-cart {
  font-weight: 700;
  margin-bottom: 10px;
}
/*Message*/
.list-empty {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list-empty .message {
  color: rgba(2, 1, 71, 1);
  font-size: 40px;
  font-weight: 900;
  transition: all 1.7s ease-in-out;
  animation-name: showmessage;
  animation-iteration-count: 1;
  animation-duration: 1.2s;
  margin:30px;
}
@media screen and (max-width:450px) {
  .list-empty .message{
    font-size: 30px;
  }
}
@media screen and (max-width:400px) {
  .list-empty .message{
    font-size: 20px;
  }
}
@keyframes showmessage {
  0% {
    transform: translateX(-90rem)
  }

  100% {
    transform: translateX(0rem);
  }
}

.pay-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  max-width: 400px;
  padding: 5px 14px;
  border-radius: 10px;
  box-shadow: 0.2rem 0.2rem blue, -0.2rem -0.2rem greenyellow;
  transition: all 0.3 ease-in-out;
  animation-name: showpayment;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes showpayment {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: rotateY(0px);
  }
}

.pay-container .subtotal,
.task,
.pay {
  font-weight: 900;
}

.pay-container .subtotalmoney,
.taskmoney,
.paymoney {
  font-weight: 900;
  color: green;
  margin-bottom: 15px;
  border-bottom: solid 2px blue;
}

.pay-container .buttom-pay {
  border: none;
  outline: none;
  background: greenyellow;
  color: white;
  font-weight: 900;
  padding: 5px;
  border-radius: 30px;
  transition: all 0.1s ease-in-out;
  margin-bottom: 4px;
}

.pay-container .buttom-clear {
  border: none;
  outline: none;
  background: red;
  color: white;
  font-weight: 900;
  padding: 5px;
  border-radius: 30px;
  transition: all 0.1s ease-in-out;
  margin-bottom: 9px;

}

.pay-container .buttom-clear:hover {
  background: rgba(225, 225, 225, 1);
  color: red;
}

.pay-container .buttom-pay:hover {
  background: blue;
  color: greenyellow;
}

.pay-container .buttom-pay:active {
  transform: scale(96%);
  background: blue;
  color: greenyellow;
}

.pay-container .buttom-clear:active {
  transform: scale(96%);
}

.flex-cart {
  display: flex;
  margin: 0px 20px;
}

@media only screen and (max-width:600px) {
  .cart-empty .message {
    font-size: 25px;
  }

  .flex-cart {
    flex-direction: column-reverse;
  }

  .pay-container {
    max-width: none;
    margin-bottom: 12px;
  }

  .pay-container .buttom-pay {
    font-size: 15px;
  }
}

@media only screen and (max-width:400px) {
  .pay-container label {
    font-size: 14px;
  }

  .cart-empty .message {
    font-size: 15px;
  }
}