::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb {
  background: greenyellow;
  border-radius: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.3rem;
  margin: 10px 15px;
}

.target {
  width: 100%;
  max-width: 226px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 11px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  animation-name: loadtarget;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
}

.target:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(105%);
}

@keyframes loadtarget {
  0% {
    transform: scale(0%);
  }

  100% {
    transform: scale(100%);
  }
}

@media only screen and (max-width:600px) {
  .target {
    max-width: 800px;
    margin: 5px 77px;
  }
}

@media only screen and (max-width:480px) {
  .target {
    max-width: 800px;
    margin: 5px 5px;
  }

  .target:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(100%);
  }
}

.target .head-target img {
  width: 100%;
  height: 100%;
  padding: 12px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.target .body-target {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.target .body-target .product-name {
  font-size: 13.5px;
  font-weight: 800;
}

.target .body-target .content-product-price {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.target .body-target .content-product-price .product-price {
  font-size: 12.5px;
  font-weight: 900;
  color: green;
  margin: 0 6px;
}

.target .body-target .content-product-price .price-discount {
  font-size: 12.5px;
  font-weight: 900;
  color: green;
  margin: 0 6px;
}

.target .product-discount {
  font-size: 12.5px;
  font-weight: 800;
  background: red;
  padding: 3px 8px;
  color: white;
  margin: 0 6px;
  border-radius: 5px;
}

.targe-categorie {
  width: 100%;
  height: auto;
  max-width: 210px;
  background: white;
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  animation-name: showcategorie;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.targe-categorie:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(105%);
}
@media  only screen and (max-width:600px) {
  .targe-categorie{
    max-width: 600px;
  }
}
@media only screen and (max-width:480px) {
  .targe-categorie {
    max-width: 800px;
    margin: 5px 5px;
  }

  .targe-categorie:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(100%);
  }
}
@keyframes showcategorie{
  0%{
    opacity: 0%;
    transform: translateY(10%);
  }
  100%{
    opacity: 100%;
    transform: translateY(0%);
  }
}

.targe-categorie .head img {
  width: 100%;
  height: 100%;
  padding: 5px 15px;
}

.targe-categorie .body label {
  font-weight: 900;
}

.targe-categorie .footer a {
  font-weight: 900;
  padding: 20px 0;
  color: blue;
  text-decoration: none;
}

/* diseño del formulario */

form{
  display: flex;
  flex-direction: column;
}

form input{
  margin-top: 20px;
}